:root {
  --primary-color: transparent;
  /* --success-color: #28a745; */
  /* --danger-color: #dc3545; */
  --background-color: #4e4a58;
  --text-color: #212529;
  --font-family: cursive;
  /* --font-family: Arial, Helvetica, sans-serif; */
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  /* color: var(--text-color); */
  margin: 0;
  padding: 1rem;
  height: 100vh;
}

.todo-container {
  max-width: 600px;
  /* width: 100%; */
  /* height: auto; */
  margin: auto;
  background: rgba(10, 10, 10, 0.747);
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.todo-title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  text-align: center;
  /* font-family: var(--font-family); */
}

.todo-title-text {
  flex: 1;
  /* font-family: var(--font-family); */
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #ddd;
  transition: background 0.5s ease;
}

.todo-item:hover {
  background-color: var(--background-color);
}

.todo-status.completed {
  color: var(--success-color);
  font-weight: bold;
}

.todo-status.incomplete {
  color: var(--danger-color);
  font-weight: bold;
}

.status-indicator {
  text-align: center;
  margin: 1rem 0;
}

.status-online {
  color: green;
}

.status-offline {
  color: red;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.pagination button,
.back-button {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: var(--font-family);
  transition: 0.8s ease;
}

.pagination button:hover,
.back-button:hover, button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

.pagination span {
  align-self: center;
  font-weight: bold;
  font-size: 1rem;
}

.view-link {
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  margin-right: .9rem;
}

.view-link:hover {
  text-decoration: underline;
  color: black;
}

.loading-text,
.error-text {
  text-align: center;
  margin-top: 2rem;
}

.control-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #fff; */
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 0.5rem;
  /* margin-bottom: 1rem; */
}

.search-bar, .addTodoInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* width: 200px; */
}

.filter-buttons {
  /* display: flex; */
  gap: 10px;
  border: 1px solid #ccc;
}

form {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  gap: 0.3rem;
}

.text-checkbox-input {
  display: flex;
  /* flex-direction: column; */
  gap: 0.4rem;
  margin-bottom: 0.3rem;
  align-items: center;
}

.addTodoBtn, .todoEditbtn, .deleteTodoBtn {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: var(--font-family);
  transition: 0.8s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-modal {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  max-width: 400px;
  position: absolute;
}

.edit-modal h2 {
  margin-top: 0;
  text-align: center;
}

.edit-modal button {
  margin-top: 10px;
  padding: 8px;
  background-color: var(--text-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.edit-modal button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.modalCancelBtn {
  font-family: var(--font-family);
  transition: .8s ease;
}

.edit-button {
  background-color: var(--text-color);
  color: white;
  border: 1px solid white;
  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: var(--font-family);
  transition: 0.8s ease;
}

.error {
  text-align: center;
}

/* media queries for responsiveness */

/* Extra small devices */
@media (min-width:481px) and (max-width:670px) {

  *, .todo-item, .todo-form, .todo-container, .todo-title, .addTodoBtn, .edit-button, .deleteTodoBtn, .modalCancelBtn, .pagination button,
  .back-button {
    font-family: Arial, Helvetica, sans-serif;
  }

  .control-form {
    display: inline;
    flex-direction: column;
  }

  .controls {
    margin-bottom: 0.6rem;
  }

  .todo-list {
    margin-top: 0.6rem;
  }
}

/* Mobile */
@media (min-width:372px) and (max-width:480px) {
  *, .todo-item, .todo-form, .todo-container, .todo-title, .addTodoBtn, .edit-button, .deleteTodoBtn, .modalCancelBtn {
    font-family: Arial, Helvetica, sans-serif;
  }

  .control-form {
    display: inline;
    flex-direction: column;
  }

  .controls {
    margin-bottom: 0.6rem;
  }

  .filter-buttons {
    text-align: center;
  }

  .pagination button,
  .back-button, .edit-button {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (min-width:320px) and (max-width:371px) {
  *, .todo-item, .todo-form, .todo-container, .todo-title, button {
    font-family: Arial, Helvetica, sans-serif;
  }

  .control-form {
    display: inline;
    flex-direction: column;
  }

  .controls {
    margin-bottom: 0.6rem;
  }

  .filter-buttons {
    text-align: center;
    display: flex;
  }

  .text-checkbox-input {
    display: inline-block;
    /* flex-direction: column; */
    /* align-items: left; */
  }

  .addTodoInput {
    width: 93%;
  }

  .todo-item {
    flex-direction: column;
    gap: 1rem;
  }

  .edit-button {
    margin-left: 0;
  }
}